<h1>Users</h1>
<%= link_to 'New', new_user_path %>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Posts</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td>
          <% user.posts.each do |post| %>
            <p>
              <%= post.title %>
              <%= post.body %>
            </p>
          <% end %>
        </td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td><%= link_to 'Show', user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
