<h1>User - <%= @user.name %></h1>
<div>
  <%= link_to 'All posts by this user', user_posts_path(@user) %>
  <br>
  <%= link_to 'All users', users_path %>
  <br>
  <h2>Add a post by this user:</h2>
  <%= form_with model: [ @user, @user.posts.build ] do |form| %>
    <p>
      <div>
        <%= form.label :image %>
        <%= form.file_field :image %>
      </div>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>