<h1>Posts</h1>
<div class="posts-area" >
  <% @posts.each do |post| %>
    <div class="overflow-auto post" >
      <%= link_to post.user.name, user_path(post.user) %>
      <br>
      <% if post.image.attached? %>
          <a href="<%= user_post_path(post.user, post) %>"> <%= image_tag post.image, class: 'post-image' %> </a>
      <% end %>
      <p>Created: <%= post.created_at %>  Updated: <%= post.updated_at %></p>
      <hr>
    </div>
  <% end %>
</div>