<% if @posts.any? %>
  <% user = @posts.first.user %>
  <% if @posts.first.author?(current_user) %>
    <%= render "add_post" %>
  <% end %>
  <h1>Posts by <%= user.name %></h1>
  <div id="follow_form">
    <% if current_user.following?(user) %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: user.id), html: { method: :delete }) do |f| %>
        <%= f.submit "Unfollow" %>
      <% end %>
    <% elsif current_user.id != user.id %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, user.id %></div>
        <%= f.submit "Follow" %>
      <% end %>
    <% end %>
  </div>
  <div class="posts-area" >
    <% @posts.each do |post| %>
      <div class="overflow-auto post" >
        <%= link_to post.user.name, user_path(post.user) %>
        <a href="<%= user_post_path(post.user, post) %>">
          <%= image_tag post.image, class: 'post-image' %>
        </a>
        <div class="post-footer">
          <div class="likes">
            <div class="like-form">
              <%= form_with model: [ current_user, post, post.likes.build ] do |form| %>
                <%= form.submit '', type: :image, src: image_path('like.png'), class: 'like-image' %>
              <% end %>
            </div>
            &nbsp;
            <div class="like-counter"><%= post.likes.count %></div>
          </div>
          <p>Posted: <%= post.created_at.strftime('%H:%M %d %b %Y') %></p>
        </div>
        <hr>
      </div>
    <% end %>
  </div>
<% else %>
  <h1> <%= user.name %> has no posts </h1>
<% end %>