<!DOCTYPE html>
<html>
  <head>
    <title>CourseProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="user">
      <% if !current_user.nil? %>
        <div class="user-logged-in">
          <p>You signed in as</p>&nbsp;<%= link_to current_user.name, user_path(current_user) %>
          &nbsp;&nbsp;
          <%= link_to 'My Feed', user_feed_index_path(current_user.id) %>
        </div>
        <div class="logout">
          <%= button_to "Logout", destroy_user_session_path, method: :delete, data: {turbo: false} %>
        </div>
      <% end %>
    </div>
    <%= link_to 'All users', users_path %>
    <%= yield %>
  </body>
</html>
